<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-dark">New place</a>
</p>

<ol>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ol>

